# Market Segmentation

This project entials developing a customer segmentation to give recommendations like saving plans, loans, wealth management etc on the target customers

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans,AgglomerativeClustering,DBSCAN,SpectralClustering
from sklearn.mixture import GaussianMixture
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn import tree
from sklearn import metrics

import warnings
warnings.filterwarnings("ignore")

### Loading the Dataset

In [4]:
df = pd.read_csv('Customer Data.csv')
df.sample(6)

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
7143,C17337,1277.423486,1.000000,533.73,213.98,319.75,606.668879,0.666667,0.416667,0.333333,0.333333,5,21,1500.0,1403.721157,324.351985,0.000000,12
2662,C12739,2123.483416,1.000000,2453.18,2051.52,401.66,0.000000,0.583333,0.500000,0.500000,0.000000,0,33,7500.0,517.974559,519.270488,0.000000,12
5639,C15797,433.979083,0.545455,0.00,0.00,0.00,2779.963478,0.000000,0.000000,0.000000,0.166667,4,0,1500.0,1596.987626,187.596016,0.083333,12
3822,C13930,4859.262329,1.000000,0.00,0.00,0.00,4835.129243,0.000000,0.000000,0.000000,0.500000,12,0,8000.0,1126.662524,1204.405197,0.000000,12
6959,C17148,2073.611538,1.000000,0.00,0.00,0.00,108.209814,0.000000,0.000000,0.000000,0.083333,1,0,8500.0,3838.187983,5578.994086,0.000000,12
6212,C16385,3269.961382,1.000000,0.00,0.00,0.00,1722.645697,0.000000,0.000000,0.000000,0.416667,10,0,4000.0,949.187748,990.007312,0.000000,12

### Exploratory Data Analysis